<link href="css/Transition.css" rel="stylesheet"/>

<div id="LineContainer">
    <div class="Line" style="--Colour: @RandomPastel()"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 80ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 160ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 240ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 320ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 400ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 480ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 560ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 640ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 720ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 800ms"></div>
    <div class="Line" style="--Colour: @RandomPastel(); animation-delay: 880ms"></div>
</div>

@code {
    
    private static string[] Pastels = 
    {
        "#a4b6dd",
        "#d09292",
        "#c094cc",
        "#a2d0c0",
        "#c37892",
        "#143f46",
        "#2a695e",
        "#cbb89a",
        "#850d55",
        "#880202",
        "#0e8879",
        "#add0b3"
    };
    
    private static List<string> Previous = new();
    
    private static string RandomPastel()
    {
        Random Random = new();
        
        string New = Pastels[Random.Next(0, Pastels.Length - 1)];
        if (Previous.Count > 0) while (Previous.Last() == New) New = Pastels[Random.Next(0, Pastels.Length - 1)];
        
        Previous.Add(New);
        
        return New;
    }
}