@inject State State

<link href="css/Transition.css" rel="stylesheet"/>

<div id="LineContainer" draggable="false">
    <div class="Line" style="--Colour: @RandomPastel()" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 1" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 2" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 3" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 4" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 5" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 6" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 7" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 8" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 9" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 10" draggable="false"></div>
    <div class="Line" style="--Colour: @RandomPastel(); --Delay-Number: 11" draggable="false"></div>
</div>

@code 
{
    protected override async Task OnAfterRenderAsync(bool FirstRender)
    {
        if (FirstRender)
        {
            await Task.Delay(11600);
            
            State.Set(State.Component.Name);
        }
    }

    private static string[] Pastels = 
    {
        "#a4b6dd",
        "#d09292",
        "#c094cc",
        "#a2d0c0",
        "#c37892",
        "#216773",
        "#2a695e",
        "#cbb89a",
        "#850d55",
        "#880202",
        "#0e8879",
        "#add0b3"
    };
    
    private static List<string> Previous = new();
    
    private static string RandomPastel()
    {
        Random Random = new();
        
        string New = Pastels[Random.Next(0, Pastels.Length - 1)];
        if (Previous.Count > 0) while (Previous.Last() == New) New = Pastels[Random.Next(0, Pastels.Length - 1)];
        
        Previous.Add(New);
        
        return New;
    }
}
